extends ../pug/layout.pug

append config
  -
    currentTitle = 'Home'
    currentDescription = 'Architect'
    currentUrl = 'index.html'

block header
  .page-header__menu
    .page-header__menu-line
    .page-header__menu-line
    .page-header__menu-line
    span.page-header__menu-close Close

  +page-header()#home
    +picture({
      'img': 'page-header-bg-01',
      'alt': 'Interior Design',
      'lg': true,
      'md': true,
      'ext': 'jpg'
    }, 'page-header__bg-img').page-header__img-wrapper
    .page-header__banner
      h1 Architecture & Interior Design
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet, labore!
      +btn('Discover Now')(class='page-header__btn', href='#')
  ///.page-header

block content
  section.sidebar
    ul.sidebar__menu
      li.sidebar__menu-item
        a.sidebar__menu-link(data-content='Home', href='#home') Home
      li.sidebar__menu-item
        a.sidebar__menu-link(data-content='About Us', href='#about-us') About Us
      li.sidebar__menu-item
        a.sidebar__menu-link(data-content='Team', href='#team') Team
      li.sidebar__menu-item
        a.sidebar__menu-link(data-content='Pricing', href='#pricing') Pricing
      li.sidebar__menu-item
        a.sidebar__menu-link(data-content='Contact', href='#contact') Contact

    .sidebar__social
      a(href='#')
        i.fab.fa-facebook-f
      a(href='#')
        i.fab.fa-instagram
      a(href='#')
        i.fab.fa-twitter
  ///.sidebar

  section.about-us#about-us
    .section-header
      h2.section-header__heading About Us
      .section-header__underline

    .about-us__services

      .about-us__service
        .about-us__service-header
          i.fas.fa-pen-nib
          h3 Interior
        p.about-us__service-text
          | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum optio fugit rerum repellendus pariatur rem ratione corrupti atque adipisci aliquid possimus et facilis provident ullam praesentium.

      .about-us__service
        .about-us__service-header
          i.fas.fa-paint-roller
          h3 Exterior
        p.about-us__service-text
          | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum optio fugit rerum repellendus pariatur rem ratione corrupti atque adipisci aliquid possimus et facilis provident ullam praesentium.

      .about-us__service
        .about-us__service-header
          i.fas.fa-pencil-alt
          h3 Design
        p.about-us__service-text
          | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum optio fugit rerum repellendus pariatur rem ratione corrupti atque adipisci aliquid possimus et facilis provident ullam praesentium.

      .about-us__service
        .about-us__service-header
          i.fas.fa-paint-brush
          h3 Decoration
        p.about-us__service-text
          | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum optio fugit rerum repellendus pariatur rem ratione corrupti atque adipisci aliquid possimus et facilis provident ullam praesentium.

      .about-us__service
        .about-us__service-header
          i.fas.fa-ruler-combined
          h3 Planning
        p.about-us__service-text
          | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum optio fugit rerum repellendus pariatur rem ratione corrupti atque adipisci aliquid possimus et facilis provident ullam praesentium.

      .about-us__service
        .about-us__service-header
          i.far.fa-building
          h3 Execution
        p.about-us__service-text
          | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum optio fugit rerum repellendus pariatur rem ratione corrupti atque adipisci aliquid possimus et facilis provident ullam praesentium.

      +picture({
        'img': 'about-us-01',
        'alt': 'About Us',
        'lg': false,
        'md': true,
        'ext': 'png'
      }, 'about-us__img').about-us__img-wrapper
    ///.about-us__services
  ///.about-us
