extends ../pug/layout.pug

append config
  -
    currentTitle = 'Home'
    currentDescription = 'Architect'
    currentUrl = 'index.html'

block header
  .page-header__menu
    .page-header__menu-line
    .page-header__menu-line
    .page-header__menu-line
    span.page-header__menu-close Close

  +page-header()#home
    +picture({
      'img': 'page-header-bg-01',
      'alt': 'Interior Design',
      'lg': true,
      'md': true,
      'ext': 'jpg'
    }, 'page-header__bg-img').page-header__img-wrapper
    .page-header__banner
      h1 Architecture & Interior Design
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet, labore!
      +btn('Discover Now')(class='page-header__btn', href='#')
  ///.page-header

block content
  section.sidebar
    ul.sidebar__menu
      li.sidebar__menu-item
        a.sidebar__menu-link(data-content='Home', href='#home') Home
      li.sidebar__menu-item
        a.sidebar__menu-link(data-content='About Us', href='#about-us') About Us
      li.sidebar__menu-item
        a.sidebar__menu-link(data-content='Team', href='#team') Team
      li.sidebar__menu-item
        a.sidebar__menu-link(data-content='Pricing', href='#pricing') Pricing
      li.sidebar__menu-item
        a.sidebar__menu-link(data-content='Contact', href='#contact') Contact

    .sidebar__social
      a(href='#')
        i.fab.fa-facebook-f
      a(href='#')
        i.fab.fa-instagram
      a(href='#')
        i.fab.fa-twitter
  ///.sidebar
